       <footer>
            <section id="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="eventyr/assets/images/footer/eventyr-txt-odin.png" class="rounded mx-auto d-block" alt="">
                        </div>
                        <div class="col-md-4">
                            <p>En savoir plus</p>
                            <ul>
                                <li>. Santé & Assurance</li>
                                <li>. A propos</li>
                                <li>. Conciergerie</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p>Laissez-nous vous aider</p>
                            <ul>
                                <li>. Nous contacter</li>
                                <li>. Aide</li>
                                <li>. Conditions générales d’utilisation</li>
                                <li>. Politique de confidentialité</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
    
            <section id="newsletter">
                <div class="container-fluid">
                    <div class="bandeau2">
                    <div class="row">
                        <div class="col-md-6">   
                            <p class="rounded float-end">Inscrivez-vous à notre newsletter pour votre prochaine aventure</p>
                        </div>
                        <div class="col-md-6">   
                        <form>
                            <div class="form-group">
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
    
            <section id="bas">
                <nav class="navbar navbar-expand-md">
                    <div class="container">
                        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <p class="nav-link">0 800 123 456</p>
                                </li>
                                <li class="nav-item">
                                    <p class="nav-link">FRANÇAIS</p>
                                </li>
                                <li class="nav-item">
                                    <p class="nav-link">EUR</p>
                                </li>
                            </ul>
                        </div>
                        <!--nav left-->
                       
                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse1 justify-content-end">
                            <ul class="navbar-nav d-flex align-items-center justify-content-between">
                                <li class="nav-item">
                                    <a href="#"><img src="eventyr/assets/images/footer/facebook.svg" alt="instagram"></a>         
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img src="eventyr/assets/images/footer/instagram.svg" alt="instagram"></a>         
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img src="eventyr/assets/images/footer/twitter.svg" alt="twitter"></a>         
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img src="eventyr/assets/images/footer/linkedin.svg" alt="linkedin"></a>         
                                </li>
                                
                            </ul>
                        </div>
                        <!--nav right-->
                    </div>
                    <!--container-->
                </nav>
                <!--End Navbar-->
    
            </section>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
