{% extends 'base.html.twig' %}

{% block title %}New Bookings{% endblock %}

{% block body %}
    <h1>voyage réservé</h1>

    

    <a href="{{ path('home') }}">retour a l'accueil</a>
{% endblock %}
