{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}

{% block body %}
    <p>{{ datePrice.price }}</p>
    <p>{{ datePrice.offer.offerName }}</p>
    <p>{{ datePrice.offer.offerType }}</p>
    <p>{{ datePrice.offer.offerDifficulty }}</p>
{% endblock %}
