<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <link href="eventyr/assets/images/header/favicon.png" rel="icon" />
  <title>{% block title %}Eventyr - Connexion{% endblock %}</title>
  <meta name="description" content="Login and Register">

  <!-- Web Fonts
========================= -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Stylesheet
========================= -->
  <link rel="stylesheet" type="text/css" href="eventyr/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="eventyr/vendor/font-awesome/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="eventyr/css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="eventyr/css/color-orange.css" />
  <link rel="stylesheet" type="text/css" href="eventyr/css/index.css">
  <link rel="stylesheet" type="text/css" href="eventyr/css/nav.css">
</head>

 <body>
        {% block body %}{% endblock %}
    </body>
</html>